.author-div{
    text-align: center;
    padding: 1rem;

}
.author-div div{
    margin-bottom: 1rem;

}
.author-introduction{
    font-size:.8rem;
    color: #999;
}
.account{
    background-color: rgb(97, 97, 97);
    margin-left: .5rem;
    margin-right: .5rem;
}

.myname{
    font-size: 1.2rem;
    font-weight: bold;
    color: blueviolet;
    font-family: STXingkai;
}

.account:hover{
    background-color: blueviolet;
}

.mylight{
    animation: light 2s linear both infinite;
    transition: all .5s ease-in-out .5s;
}

@keyframes light {
    from {
        box-shadow: 
            0 0 1px white,
            0 0 5px white,
            0 0 10px white,
            0 0 20px purple,
            0 0 5px purple,
            0 0 11px pink;
    }

    to {
        box-shadow: 0 0 5px white,
            0 0px 10px yellow,
            0 0px 15px yellow,
            0 0px 8px green,
            0 0px 10px green,
            0 0px 12px blue;
    }
}

